{% extends "base.html" %}

{% load static %}

{% block titulo %}
    Pagina principal
{% endblock %}

{% block conteudo %}
<br/>
    <div class="row">
        <div class="col-md-2">
            <img src="{% static Home_Bar_1 %}" width="140" height="40" border="0">
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-4"><img alt="br" src="{% static Home_Bar_2 %}" ></div>
                <div class="col-md-8"><p>IBOVESPA</p></div>
            </div>
            <div class="row">
                <div class="col-md-4"><p>+0,3%</p></div>
                <div class="col-md-8"><p>76.436</p></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-4"><img alt="us" src="{% static Home_Bar_3 %}" ></div>
                <div class="col-md-8"><p>DÓLAR</p></div>
            </div>
            <div class="row">
                <div class="col-md-4"><p>-0,20%</p></div>
                <div class="col-md-8"><p>R$ 4,09</p></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-4"><img alt="us" src="{% static Home_Bar_3 %}" ></div>
                <div class="col-md-8"><p>NASDAQ</p></div>
            </div>
            <div class="row">
                <div class="col-md-4"><p>+0,3%</p></div>
                <div class="col-md-8"><p>76.436</p></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-4"><img alt="br" src="{% static Home_Bar_2 %}" ></div>
                <div class="col-md-8"><p>IFIX</p></div>
            </div>
            <div class="row">
                <div class="col-md-4"><p>+0,3%</p></div>
                <div class="col-md-8"><p>76.436</p></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-4"><img alt="eu" src="{% static Home_Bar_4 %}" ></div>
                <div class="col-md-8"><p>EURO</p></div>
            </div>
            <div class="row">
                <div class="col-md-4"><p>+0,3%</p></div>
                <div class="col-md-8"><p>76.436</p></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h3>
                TOP 10 MAIS LIDAS
            </h3>
            <div class="sideItem">
                <p>NOVO LEVANTAMENTO</p>
                <p>
                    Bolsonaro sobe de 26% para 30% dos votos e lidera isolado; Ciro desponta no 2º lugar, diz pesquisa
                </p>
            </div>
            <div class="sideItem">
                <p>ELEIÇÕES 2018</p>
                <p>
                    Após atentado, Bolsonaro cresce entre mulheres e mais pobres, mostra pesquisa
                </p>
            </div>
            <div class="sideItem">
                <p>AGENDA DE PESQUISAS</p>
                <p>
                    Datafolha, Ibope, Ipespe e mais pesquisas eleitorais serão divulgadas nesta semana; confira datas previstas
                </p>
            </div>

        </div>
        <div class="col-md-10">
           <h3 style="text-align: justify">O Datafolha: Bolsonaro passa de 22% para 24% e 4 candidatos ficam embolados em segundo lugar.
               Ciro Gomes, Marina Silva, Geraldo Alckmin e Fernando Haddad empatam tecnicamente no segundo lugar</h3>
            <img style="alignment: center" src="{% static noticia_1 %}" alt="CIRAO" class="m-4 p-4">

            <p style="text-align: justify"> Caros amigos, a determinação clara de objetivos faz parte de um processo de gerenciamento dos métodos utilizados na avaliação de resultados. Todavia, a mobilidade dos capitais internacionais causa impacto indireto na reavaliação das diretrizes de desenvolvimento para o futuro. No entanto, não podemos esquecer que o fenômeno da Internet cumpre um papel essencial na formulação do sistema de participação geral.

                O incentivo ao avanço tecnológico, assim como a consolidação das estruturas talvez venha a ressaltar a relatividade das regras de conduta normativas. Do mesmo modo, a estrutura atual da organização obstaculiza a apreciação da importância do remanejamento dos quadros funcionais. A prática cotidiana prova que o desenvolvimento contínuo de distintas formas de atuação apresenta tendências no sentido de aprovar a manutenção do investimento em reciclagem técnica. Por conseguinte, o início da atividade geral de formação de atitudes estende o alcance e a importância do sistema de formação de quadros que corresponde às necessidades. As experiências acumuladas demonstram que a constante divulgação das informações estimula a padronização dos níveis de motivação departamental.

                Percebemos, cada vez mais, que o aumento do diálogo entre os diferentes setores produtivos pode nos levar a considerar a reestruturação dos índices pretendidos. Desta maneira, a complexidade dos estudos efetuados acarreta um processo de reformulação e modernização das formas de ação. Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a revolução dos costumes oferece uma interessante oportunidade para verificação do levantamento das variáveis envolvidas. Não obstante, a necessidade de renovação processual exige a precisão e a definição dos conhecimentos estratégicos para atingir a excelência. Pensando mais a longo prazo, a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança das novas proposições.

                O que temos que ter sempre em mente é que a hegemonia do ambiente político representa uma abertura para a melhoria das condições financeiras e administrativas exigidas. Todas estas questões, devidamente ponderadas, levantam dúvidas sobre se a expansão dos mercados mundiais prepara-nos para enfrentar situações atípicas decorrentes dos relacionamentos verticais entre as hierarquias. Assim mesmo, a consulta aos diversos militantes maximiza as possibilidades por conta das diversas correntes de pensamento. Por outro lado, a crescente influência da mídia é uma das consequências da gestão inovadora da qual fazemos parte.

                A nível organizacional, a percepção das dificuldades assume importantes posições no estabelecimento das posturas dos órgãos dirigentes com relação às suas atribuições. O empenho em analisar a competitividade nas transações comerciais possibilita uma melhor visão global de alternativas às soluções ortodoxas. É claro que o julgamento imparcial das eventualidades desafia a capacidade de equalização do orçamento setorial. É importante questionar o quanto o desafiador cenário globalizado não pode mais se dissociar dos modos de operação convencionais.
            </p>
        </div>
    </div>
</div>


{% endblock %}